* {
	color: #32353a;
}

html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	color: white;
	height: 95%;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 3rem;
}

input:not([type="file"]) {
	height: 3rem;
	border: 1px solid #d3d3d3;
	background: #ffffffa3;
	border-radius: 6px;
	padding: 0 1rem;
	width: 17rem;
}

input:focus-visible {
	outline: none;
}

canvas {
	margin-top: 10px;
	border-radius: 10px;
}
.controls {
	display: flex;
	flex-direction: column;
}
.controls input,
.controls button {
	margin: 5px;
}

button {
	color: white;
	font-weight: bold;
	padding: 6px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	width: 10rem;
}

#generate {
	background-color: #32353a;
}
#download {
	background-color: #32353a;
	width: 2rem;
}

#download i,
.upload-icon i {
	color: white;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	display: none;
}

::-webkit-scrollbar {
	height: 9px;
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background: #32353a;
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
	width: 9px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.row {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

a {
	text-decoration: none;
}

.upload-icon {
	cursor: pointer;
	margin-left: 0.35rem;
	width: 1.9rem;
	height: 1.7rem;
	border-radius: 3px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	background-color: #32353a;
}

.upload-input {
	display: none;
}
